{% extends 'main.html' %} 
{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! --> 
{% load tz %} <!-- не забываем загрузить тег для работы с часовыми поясами -->


{% block content %}
    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected {% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Set">
    </form>

    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->

    <h1> Новости </h1>
    <hr>
    {% if news %}
        <table>
            <thead>
                <th>
                    Заголовок
                </th>
                <th>
                    Дата
                </th>
                <th>
                    Текст
                </th>
            </thead>
            {% for article in news %}
                <tr>
                    <td>
                        <a href="{% url 'post_detail' article.id %}">{{ article.title|censor }}</a>
                        <a href="{% url 'post_update' article.id %}"><u>Редактировать</u></a>
                        <a href="{% url 'post_delete' article.id %}"><u>Удалить</u></a>
                    </td>
                    <td>
                        {{ article.created|date:'M d Y' }}
                    </td>
                    <td>
                        {{ article.text|truncatechars:50|censor }}
                    </td>  
                </tr>
            {% endfor %}
        </table>

        <a href="{% url 'post_create' %}">Добавить новую новость</a> <br>

        <!-- Проверяем, что поддерживается постраничный вывод -->
        {% if is_paginated %}
            <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <!-- <a href="?page={{ page_obj.previous_page_number }}"><<<</a> -->
            {% endif %}
            <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
             {% endfor %}
            <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
            {% if page_obj.has_next %}
                <!-- <a href="?page={{ page_obj.next_page_number }}">>>></a> -->
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
    {% else %}
        <h2>Новости отсутствуют!</h2>
    {% endif %}
{% endblock content %}